body {
    font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
    background-color: #000;
}

.menu {
    width: auto;
    height: 300px;
    margin-top: 0;
    margin-bottom: 20px;
    background-image: url(.../);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: block;
    align-items: first baseline;
    padding: 0 20px;

}

.menu h1 {
    font: bold 35px iawriter-mono, Nitti, Menlo, Courier, monospace;
    color: #ffffff;
    position: absolute; /* Posiciona o texto de forma absoluta */
    top: 15px;


}

.menu h2{
    font: bold 20px iawriter-mono, Nitti, Menlo, Courier, monospace;
    color: #ffffff;
    position: absolute; /* Posiciona o texto de forma absoluta */
    top: 240px; /* Ajuste conforme necessário */

}


.container {
    display: grid;
    grid-template-columns: 100px auto 160px; /* Define larguras diferentes para as colunas */
    grid-template-rows: 100px 150ox 150p;
    gap: 10px; /* Espaçamento entre os containers */

  }
  
  .item {
    background-color: lightblue;
    height: auto; /* Altura padrão para cada item */
  }
  
.item a {
    width: 100px;
    height: auto;
    font-size: 12px;
}
.item img {
    width: 150px;
    height: auto;
    padding-right: 10px;
    object-fit: contain;
}